<launch>
    
    <node pkg="pkg_task1" type="shell_webpages_launch.sh" name="shell_webpages_launch" output="screen">
        <param name="cmd" value="$(find pkg_task1)/launch/shell_webpages_launch.sh"/>
    </node>
        
    <node pkg="pkg_task1" type="node_simple_action_server_turtle.py" name="node_simple_action_server_turtle" output="screen"/>
   
    <node pkg="pkg_task1" type="node_iot_action_client_turtle.py" name="node_iot_action_client_turtle" output="screen"/>
   
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>
   
    <node pkg="pkg_iot_ros_bridge" type="node_iot_ros_bridge_action_server.py" name="node_action_server_ros_iot_bridge" output="screen"/>
    
    <rosparam file ="$(find pkg_iot_ros_bridge)/config/config_pyiot.yaml"/>

</launch>

