<launch>
  <include file="$(find pkg_vb_sim)/launch/task5_simulation.launch" />
   
    <rosparam file ="$(find pkg_ros_iot_bridge)/config/config_pyiot.yaml"/>
   
       
    <node pkg="pkg_task1" type="shell_webpages_launch.sh" name="shell_webpages_launch" output="screen">
        <param name="cmd" value="$(find pkg_task1)/launch/shell_webpages_launch.sh"/>
    </node>
   <group ns = "ur5_1">
      <include file = "$(find pkg_moveit_ur5_1)/launch/move_group.launch" />
      <arg name="publish_monitored_planning_scene" value="true"/>
     
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="/use_gui" value="false"/>
      <rosparam param="/source_list">[/joint_states]</rosparam>
    </node>
    <arg name="use_rviz" default="true" />
  <include file ="$(find pkg_moveit_ur5_1)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find pkg_moveit_ur5_1)/launch/moveit.rviz"/>
  </include>
  <arg name="scene_file" default="$(find pkg_task4)/config/rviz/ur5_1_with_shelf_t4.scene"/> 
    <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>
    </group>
    <group ns = "ur5_2">
      <include file = "$(find pkg_moveit_ur5_2)/launch/move_group.launch" />
      <arg name="publish_monitored_planning_scene" value="true"/>
     
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="/use_gui" value="false"/>
      <rosparam param="/source_list">[/joint_states]</rosparam>
    </node>
     <arg name="use_rviz" default="true" />
  <include file ="$(find pkg_moveit_ur5_2)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find pkg_moveit_ur5_2)/launch/moveit.rviz"/>

  </include>
   <arg name="scene_file" default="$(find pkg_task4)/config/rviz/ur5_2_with_bin_t4.scene"/> 
    <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>
    </group>

   
   
</launch>

