<launch>
    
    <!-- Spawn Task-2 Models in Gazebo -->
    <include file="$(find pkg_vb_sim)/launch/task4_simulation.launch" />
      <group ns = "ur5_1">
      <include file = "$(find pkg_moveit_ur5_1)/launch/move_group.launch" />
      <arg name="publish_monitored_planning_scene" value="true"/>
     
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="/use_gui" value="false"/>
      <rosparam param="/source_list">[/joint_states]</rosparam>
    </node>
    <arg name="use_rviz" default="true" />
  <include file ="$(find pkg_moveit_ur5_1)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find pkg_moveit_ur5_1)/launch/moveit.rviz"/>
  </include>
  <arg name="scene_file" default="$(find pkg_task4)/config/rviz/ur5_1_with_shelf_t4.scene"/> 
    <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>
    </group>
    <group ns = "ur5_2">
      <include file = "$(find pkg_moveit_ur5_2)/launch/move_group.launch" />
      <arg name="publish_monitored_planning_scene" value="true"/>
     
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="/use_gui" value="false"/>
      <rosparam param="/source_list">[/joint_states]</rosparam>
    </node>
     <arg name="use_rviz" default="true" />
  <include file ="$(find pkg_moveit_ur5_2)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find pkg_moveit_ur5_2)/launch/moveit.rviz"/>

  </include>
   <arg name="scene_file" default="$(find pkg_task4)/config/rviz/ur5_2_with_bin_t4.scene"/> 
    <node name = "moveit_publish_scene_from_text" pkg= "moveit_ros_planning" type = "moveit_publish_scene_from_text" args= "$(arg scene_file)"/>
    </group>
 <node name= "node_t4" pkg= "pkg_task4" type="t4_c.py" output="screen"/>
 <node name= "node_t4_1" pkg= "pkg_task4" type="t4_1_c.py" output="screen"/>
!-- Recording Bag File for Submission -->
    <arg name="record" default="false"/>
    <arg name="rec_name" default="task4.bag"/>

    <group if="$(arg record)">
        <node name="rosbag_record_pick" pkg="rosbag" type="record"
       args="record -O $(find pkg_task4)/bag_files/$(arg rec_name) --chunksize=10 /eyrc/vb/ur5_1/vacuum_gripper/logical_camera/ur5_1" output="screen"/>
 </group>
<group if="$(arg record)">
        <node name="rosbag_record_pick" pkg="rosbag" type="record"
       args="record -O $(find pkg_task4)/bag_files/$(arg rec_name) --chunksize=10 /eyrc/vb/ur5_2/vacuum_gripper/logical_camera/ur5_2" output="screen"/>
 </group>


 
</launch>
